/* Reset some browser default styles */
body, h1, h2, h3, p, ul, ol, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

header {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Main content styles */
main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #e9ecef;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    color: #495057;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Footer styles */
footer {
    margin-top: 40px;
}

/* Other utility styles */
.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.mt-12 {
    margin-top: 48px; /* 12 x 4 */
}


/* General styles for the pagination navigation */
nav[role="navigation"] {
    padding: 16px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

/* Larger arrows for more emphasis */
nav[role="navigation"] svg.w-5.h-5 {
    width: 24px; /* Increase from w-5 to roughly w-6 */
    height: 24px; /* Increase from h-5 to roughly h-6 */
}

/* Adding some hover effects for the pagination buttons */
nav[role="navigation"] a:hover {
    background-color: #f5f5f5;
}

/* Disabled pagination buttons */
nav[role="navigation"] span.cursor-default {
    opacity: 0.5; /* Making it slightly faded to indicate disabled */
}

/* Additional styles for the pagination numbers and ellipsis */
nav[role="navigation"] span.font-medium {
    font-weight: bold;
}

nav[role="navigation"] span.cursor-default {
    background-color: #f5f5f5;
}

/* Making the pagination buttons more rounded for aesthetics */
nav[role="navigation"] .rounded-md {
    border-radius: 20px;
}

/* Style for the showing results text */
nav[role="navigation"] p.text-sm.text-gray-700 {
    margin: 0;
    padding: 8px 0;
}


.text-xs {
    font-size: 0.7rem;
}

.descriptionHTML img { max-width: 100%; }
