@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Styling the table headings */
th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Styling the table cells */
td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Adding a hover effect to the rows */
tr:hover {
    background-color: #f1f1f1;
}

.pointer {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

/* Modal */
.modal-content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.modal-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Add styles for disabled link */
a[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

/* Hack as Tailwind isn't picking up this yello color for some reason */
.text-yellow-500 {
    color: #f59e0b; /* This is the default color value for text-yellow-500 in Tailwind's default palette. */
}

.markdown p {
    margin-bottom: 1rem;
}
.markdown img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown ol {
    list-style-type: decimal;
    margin-left: 2rem;
}
